__pycache__/
.idea/

# Python
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
/data/raw/2007 Derma Cecilia.rar
/data/raw/2007 Derma Cecilia/
